@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Public Sans', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.ql-editor {
  min-height: 200px;
}

*::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #00000026;
}

*::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: #0000;
}

@layer components {
  .fluid-container {
    @apply mx-auto max-w-[96vw] max-lg:px-3 xl:max-w-7xl;
  }
}